/* Icons */

:root {
    --icon-back: url("assets/outline-arrow_back_ios-24px.svg");
    --icon-exit: url("assets/outline-exit_to_app-24px.svg");
    --icon-refresh: url("assets/outline-refresh-24px.svg");
    --icon-shuffle: url("assets/outline-shuffle-24px.svg");
    --icon-zoom: url("assets/baseline-zoom_out_map-24px.svg");
}

.back::before, .refresh::before, .log-out::after {
    background-position: bottom;
    background-size: 1em 1em;
    display: inline-block;
    width: 1em; 
    height: 1em;
    content:"";
    margin: 0 0.25em;
}

.back::before {
    background-image: var(--icon-back);
}

.refresh::before {
    background-image: var(--icon-refresh);
}

.log-out::after {
    background-image: var(--icon-exit);
}

#randomizer {
    content: var(--icon-shuffle);
}

#size {
    content: var(--icon-zoom);
}

/* Main CSS */

/* html {
    scroll-behavior: smooth;
} */

/* 
body, .footer, .navbar {
    background: hsl(0, 0%, 21%);
}

.navbar-item, .navbar-link {
    color: hsl(0, 0%, 96%);
} */

.gallery {
    display: flex;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    padding: 0;
    height: 80%;
    background-position: center;
}

p.bottomOverlay {
    margin-top: auto;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.75);
    color: #000000;
    font-weight: 500;
    font-size: 1em;
    width: 100%;
    max-height: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pages {
    margin: 10px auto;
    margin-top: 0;
    display: table;
}

img.page {
    max-height: 100vw;
    max-width: 100vw;
}

.custom-inline {
    display: inline-flex;
}

.hero-body {
    padding: 3vh 8vw;
}

.column {
    padding: 2px;
}

.navbar-brand {
    width: 100vw;
}

.navbar-start, .navbar-end, .navbar-item {
    font-size: 2rem;
    align-items: center;
}

.navbar-start .navbar-item {
    margin-right: 0;
    float: left;
}

.navbar-item {
    margin: 0 2rem;
}

.navbar-end {
    margin-left: auto;
}

p.navbar-item.name {
    font-size: 1rem;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

#randomizer, #size {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    line-height: 1.3em;
    background: rgb(190,190,190);
    border-radius: 50%;
    margin: 2%;
    box-shadow: 0px 5px 18px 0px rgba(255,255,255, 0.4);
    filter: invert(100%);

    /* Optimization */
    will-change: transform;
}

#randomizer:hover, #size:hover {
    box-shadow: 0px 5px 18px 0px rgba(255,255,255, 0.95);
}

#randomizer:active, #size:active {
    background: turquoise;
}

.title {
    color: white;
}

.navbar {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

input#filter {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}